body{
	margin:0;
	background-color: #e6fff7;

}

#head{
	vertical-align: bottom;
	
	padding: 30px;
	height: 50%;
	width: cover;
	background-color: #ff9933;

	}
#pic{
	
	background-color: black;
	height: 288px;
	width:230px;
	position: relative;
	float: right;
	
	padding: 5px;
}
img{
	max-width:100%;
	max-height:100%
}

h1{
	font-family: Arctic;
	font-size: 50px;
}
q{
	font-family:  Oranienbaum Regular;
	font-size: 30px;
}

#one{
	background-color: #ffbf80;
	height: 100%;
	width: 100%;

}


#two{
	background-color:#ff9933; 
	height: 100%;
	width: 100%;

}

#three{
	background-color: #ffbf80;
	height: 100%;
	width: 100%;
}

#foot{
	padding: 40px;
	background-color: #ffffff;
	height: 50%;
}

h2{
	font-family: Arctic;
	font-size: 30px;
}
p{
	font-size: 20px;
}
ul{
	font-size: 20px;
}
a{
	text-decoration: none;
}